html,body {
    background-color: #3d4543;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    outline: none;
  }

  *, *:active, *:focus {
      outline: none;
  }

  .box {
    background-color: #3d4543;
    position: relative;
    padding: 10vw;
  }

  .display {
    width: 100%;
    box-sizing: content-box;
  }

  .display input {
    height: 12vh;
    width: 100%;
    color: black;
    background-color: #bccd95;
    font-size: 7vh;
    text-align: right;
    border: none;
    box-shadow: inset 8px 8px 8px -8px rgba(0,0,0,0.4),
                inset -8px -8px 8px -8px rgba(255,255,255,0.4);
    border-radius: 4px;
    padding-right: 12px;
  }

  .keys p {
      display: flex;
      flex-direction: row;
  }

  .button {
    flex: 1;
    height: 7vh;
    border: none;
    border-radius: 8px;
    margin-left: 17px;
    cursor: pointer;
    border-top: 2px solid transpaent;
    color: black;
    font-size: 3vh;
    outline: none;
    box-shadow: inset 0px 2px 0px -1px rgba(255,255,255,0.15), inset 0px -2px 0px -1px rgba(0,0,0,0.2), 0px 2px 0px 1px rgba(0,0,0,0.2);
  }

  .button:first-of-type {
      margin-left: 0px;
  }

  .button:active {
      transform: translateY(1px);
      box-shadow: inset 0px -2px 0px -1px rgba(255,255,255,0.1), inset 0px 3px 0px -1px rgba(0,0,0,0.2);
  }
  .button.gray {
    color: white;
    background-color: #6f6f6f;
  }
  .button.pink {
    background-color: #ff4561;
    color: white;
  }
  .button.black {
    background-color: #303030;
    color: white;
  }
  .button.orange {
    color: black;
    background-color: #ff9933;
  }
  .button.blue {
    color: black;
    background-color: #7d9ac7;
  }
  
